<% provide(:title, "About") %>
<h1>About</h1>
		<p>
		This is a site trying to bring people together to share, discuss, and discover ideas for the purpose of better understanding each other and finding common ground.
		</p>
