<div class="row">
	<div class="col-md-6">
		<%= render main_point %>
	</div>
	<div class="col-md-6">
		<% if main_point.counterpoints.any? %>
			<%= render main_point.counterpoints.first %>
		<% else %>
			<li>
				<% unless main_point.user_id == current_user.id %>
					<h5>Be the first person to write a couterpoint</h5>
				<% else %>
					<h5>No one has countered your point yet</h5>
				<% end %>
			</li>
		<% end %>
	</div>
</div>
<% if main_point.counterpoints.any? && main_point.counterpoints.first.is_debate? %>
	<div class="row">
		<div class="col-md-12">
			<div class="debate-link">
				<h4><%= link_to 'View Debate', debates_show_path(point_id: main_point.counterpoints.first.id) %></h4>
			</div>
		</div>
	</div>
<% end %>
